<div class="user-id">
  <div class="user-card">
      <div class="user-photo">
          <%= image_tag @user.photo, class: 'image-contain' %>
      </div>
      <div class="user-name">
        <h2 clas="name"><%= @user.name %></h2>
        <p class="posts-counter">Number of posts: <%= @user.posts_counter %></p>
      </div>
  </div>

  <p class="user-bio"><strong>Bio:</strong> <%= @user.bio %></p>

  <ul class="user-posts">
    <% @user.recent_posts.each do |post| %>
      <li class="user-post">
          <h2><%= post.title %></h2>
          <p><%= post.text %></p>
          <div class="comments-likes">
            <span>Comments: <%= post.comments_counter %></span>, 
            <span>Likes: <%= post.likes_counter %></span>
          </div>
      </li>
    <% end %>
  </ul>
  
  <div class="buttons">

  <%= link_to user_posts_path(@user), class:'see-all-posts-btn' do %>
  <button>
    See all posts
  </button>
  <% end %>

  </div>
</div>