<div class="user-post-details">
  <div class="user-post-box-1">
    <div class="user-post-top">
      <p><%= @post.title %> by <%= @user.name %></p> 
      <div class="comments-likes">Comments: <%= @post.comments_counter %> Likes: <%= @post.likes_counter %> </div>
    </div>
    <p class="user-post-text">
      <%= @post.text %>
    </p>

    <%= form_with model: @like, url: user_post_likes_path(user_id: @post.author.id, post_id: @post.id), method: :post, remote: true do |form| %>
      <%= form.submit 'Like', class: 'like-button' %>
    <% end %>

    <% if can? :destroy, @post %>
      <%= form_with model: @post, url: user_post_path(@user, @post), method: :delete, remote: true do |form| %>
        <%= form.submit 'Delete', class: 'delete-button' %>
      <% end %>
    <% end %>
  </div>

  <ul class="user-post-box-2">
    <% @post.comments.each do |comment| %>
    <li>
        <p><strong><%= comment.user.name %>:</strong> <%= comment.text %></p>
        <% if can?(:destroy, comment) %>
          <%= form_with model: comment, url: user_post_comment_path(@user, @post, comment), method: :delete, remote: true do |form| %>
          <%= form.submit 'Delete comment', class: 'delete-button' %>
        <% end %>
        <% end %>
    </li>
    <% end %>
  </ul>
  <%= link_to new_user_post_comment_path(@user,@post), class: 'btn btn-primary' do %>
    Add Comment
  <% end %>
</div>

