<h1>Post</h1>
<p><strong>Title:</strong> <%= @post.title %></p>
<p><strong>Content:</strong> <%= @post.text %></p>

<div>
    <div>
        <span><%= @post.title %> by <%= @user.name %></span>
        <span>Comments: <%= @post.comments_counter %> Likes: <%= @post.likes_counter %> </span>
    </div>
    <p>
        <%= @post.text %>
    </p>
       <ul>
            <% @post.comments.each do |comment| %>
                <li>
                    <p><strong><%= comment.user.name %>:</strong> <%= comment.text %></p>
                </li>
            <% end %>
        </ul>
</div>

<%= link_to 'Back to Posts', user_posts_path(@user) %>
