<div class="user-post-details">
    <div class="user-post-box-1">
        <div class="user-post-top">
            <p><%= @post.title %> by <%= @user.name %></p> 
            <div class="comments-likes">Comments: <%= @post.comments_counter %> Likes: <%= @post.likes_counter %> </div>
        </div>
        <p class="user-post-text">
            <%= @post.text %>
        </p>
    </div>
    <ul class="user-post-box-2">
        <% @post.comments.each do |comment| %>
        <li>
            <p><strong><%= comment.user.name %>:</strong> <%= comment.text %></p>
        </li>
        <% end %>
    </ul>
</div>